#!/usr/bin/make -f
# export DH_VERBOSE = 1

export DEB_VERSION = $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
export PATCH_VERSION = $(shell echo $(DEB_VERSION) | cut -f 4 -d '.')
export CHART_BASE_VERSION = $(shell echo $(DEB_VERSION) | sed 's/-/./' | cut -d '.' -f 1-3)
export CHART_VERSION = v$(CHART_BASE_VERSION)+STX.$(PATCH_VERSION)

export ROOT = debian/tmp
export APP_FOLDER = $(ROOT)/usr/lib/helm

%:
	dh $@

override_dh_auto_build:

	mkdir -p cert-manager

	# Copy cert-manager charts
	cp -r deploy/charts/* cert-manager
	cp cert-manager/cert-manager/Chart.template.yaml cert-manager/cert-manager/Chart.yaml

	# Copy CRD yaml files to templates
	cp deploy/crds/*.yaml cert-manager/cert-manager/templates

	cp Makefile cert-manager

	cd cert-manager && make CHART_VERSION=$(CHART_VERSION) cert-manager

override_dh_auto_install:
	# Install the app tar file.
	install -d -m 755 $(APP_FOLDER)
	install -p -D -m 755 cert-manager/cert-manager*.tgz $(APP_FOLDER)

override_dh_auto_test:
