Source: stx-cert-manager-helm
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 chartmuseum,
 helm,
 procps,
 python3-k8sapp-cert-manager,
 python3-k8sapp-cert-manager-wheels
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: stx-cert-manager-helm
Section: libs
Architecture: any
Depends: ${misc:Depends}
Description: StarlingX Cert-Manager FluxCD Helm Charts
 This package contains FluxCD helm charts for the certificate manager
 application.
